body{background-image: linear-gradient(to right top, #7303c0, #9803bf, #b812be, #d325bd, #ec38bc);background-position: center;background-size: cover;background-repeat: no-repeat;font-family: "Raleway", sans-serif;height: 100vh;}
.btn{display: inline-block;margin-right: 5px;border: none;padding: 10px;}
table {width: 100%;border-collapse: collapse;margin-bottom: 20px;}
th, td {border: 1px solid #ccc;padding: 8px;text-align: left;}
th {background-color: #f0f0f0;}
.btn:hover{cursor: pointer;}
/* Tela 1 */
.painel{display: grid;grid-template-columns: auto 1fr;grid-gap: 0 40px;background: rgba(255, 255, 255, 0.45);padding: 2rem;box-sizing: border-box;width: 100%;border-radius: 5px;height: 100%;}
.menu{padding: 2rem;}
.menu ul{padding: 0;list-style: none;}
.dashboard{display: grid;grid-template-rows: auto 260px 1fr;grid-gap: 40px 0;}
canvas{height: 450px!important;width: 100%!important;}
.box-actions p{color: #633a78;font-size: 1.5rem;font-weight: 700;margin: 0 0 1rem 0;}
.line-grid{display: grid;grid-template-columns: repeat(4, 1fr);grid-gap: 0 10px;}
.single select,.single input,.single button{width: 100%;height: 3rem;box-sizing: border-box;padding: 10px;border-radius: 5px;}
.single select,.single input{background-color: rgb(255 255 255 / 48%);border: none;font-weight: 700;color: #633a78;}
.single button{background-color: #7303c0;border: none;color: #fff;font-weight: 700;}
::placeholder{color: rgba(63, 61, 61, 0.45);font-weight: 700;}
.alunos{padding: 1rem 0;overflow-y: scroll;}
.alunos table{width: 100%;}
.alunos table th{text-align: left;}
.campoAluno.active{border: red;}
#classSelect{width: 80px;}